/* Reset y variables globales (opcional) */
:root {
  --primary-color: #A40706;
  --dark-color: #000000;
  --white: #FFFFFF;
  --font-family: 'Poppins', sans-serif;
}
* { margin:0; padding:0; box-sizing: border-box; }
body { font-family: var(--font-family); background: #F4F7FC; }